/*body, html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  height: 100%;
}

.logo {
  background-image: url('img/Sharity_Logo.png');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;

}
*/

$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 20pt;
    border-radius: 5px;
  }
}

#video-detail {
  width: 100%;
  margin: 50px 50px 50px 0;

  #video-title{
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10pt;
  }
  #video-caption{
    margin: 16pt;
  }
}

#video-section {
  display: flex;

  ul{
    border-left: solid $fontcolor;
    border-top: solid $fontcolor;
    //border-image: linear-gradient(to right, $fontcolor, rgba(255,0,0,0));
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 30vw;
    padding: 10px;

    img{
      max-height: 100px;
    }
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
    text-shadow: .5pt .5pt lighten( $fontcolor, 40%);
    color: lighten( $fontcolor, 5%);
  }
  #title-text{
    margin-left: 10px;
  }

}
